@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* Estilo del header */

.container-header{
display: flex;
width: 100%;
height: 80px;
position: relative;
background-color: #F5DB13;
box-shadow: 0px 4px 4px rgba(121, 83, 83, 0.25);
justify-content: space-between;
padding-left: 20px;
}

.nav-bar{
display: flex;
justify-content: space-around;
width: 550px;
}

/* Estilos de la sección home */

.btnHeader{
border: transparent;
background-color:#F5DB13;
font-family: 'Revalia';
font-size: 33px;
}

.btnHeader:hover {
cursor: pointer;
transform: scale(1.015);
}

.container-main,
.container-mainPokedex{
display: flex;
justify-content: center;
background-color: #fff;
}

/* .container-mainPokedex{
display: flex;
justify-content: center;
} */

.container-home{
display: flex;
position: absolute;
width: 1260px;
height: 510px;
margin: 40px;
background: #F2B807;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgPikachu{
position: relative;
left: 800px;
}

.container-welcome{
display: flex;
position: absolute;
width: 669px;
height: 399px;
left: 48px;
top: 60px;
background: #F28F16;
align-items: center;
justify-content: center;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
display: flex;
font-family: 'Revalia';
font-size: 85px;
margin: 20px;
padding: 10px;
text-align: center;
color:#FFF;}


/* Estilo de la sección Pokedex */
.cardFrontPokemon {
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.cardPokemon-front{
display: flex;
background: linear-gradient(180deg, #70A83B 0%, rgba(112, 168, 59, 0.838912) 16.11%, rgba(112, 168, 59, 0) 100%);
border-radius: 25px;
width: 370px;
height: 478px;
position: relative;
font-family: 'Ropa Sans', sans-serif;
margin: 20px;
}

.namePokemon{
position: absolute;
width: 318px;
height: 41px;
left: 20px;
top: 20px;
text-transform: uppercase;
font-size:40px;
}

.numPokemon{
position: absolute;
left: 250px;
top: 20px;
font-size:40px;
}

.imgPokemon{
position: absolute;
width: 350px;
height: 306px;
top:75px;
}

.typePokemon {
position: relative;
align-content: center;
text-transform: uppercase;
background: #a299a3;
padding: 5px;
border-radius: 5px;
color: #fff;
top: 370px;
left: 70px;
font-size:30px;
height: 50px;
}

/* .cardPokemon-back{
	background: linear-gradient(180deg, #f5f5f5 0%, rgba(112, 168, 59, 0.838912) 16.11%, rgba(112, 168, 59, 0) 100%);
	border-radius: 25px;
	width: 370px;
	height: 478px;
	position: relative;
	font-family: 'Ropa Sans', sans-serif;
}

.region{
position:relative;
text-align: left;
}
.resistant{
position:relative;
} */

/* .imgPikachu{
position: absolute;
width: 634px;
height: 632px;
left: 807px;
top: calc(50% - 632px/2 + 59.5px);
/*background: url(PIKACHU.png);*/
/* z-index: 1;
visibility: active; */


/* .cardPokemon-Front{
	display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2%;
    margin: 0 20px;
    font-size: 30px;
    cursor: pointer; */


/* .cardPokemon-back{
position: absolute;
width: 370px;
height: 478px;
left: 51px;
top: 223px;
background: linear-gradient(180deg, #70A83B 0%, rgba(112, 168, 59, 0.838912) 16.11%, rgba(112, 168, 59, 0) 100%);
border-radius: 25px;
flex-wrap: wrap;
justify-content: center;
margin: 0 auto;
}  */


/* .container-main {
	background-image: linear-gradient(120deg, #fff 0%, #c2e9fb 100%);
	font-family: 'Lato', sans-serif;
} */

/*
.container-main {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
} */