* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
    display: flex;
    background-color: #F5DB13;
    box-shadow: 0px 4px 4px rgba(121, 83, 83, 0.25);
}

header .img{
    display:flex;
    justify-content: left;
    align-items: center;
}

main {
    background-color: #fff;
}


/* .container-main {
	background-image: linear-gradient(120deg, #fff 0%, #c2e9fb 100%);
	font-family: 'Lato', sans-serif;
} */

/* 
.container-main {
	width: 90%;
	max-width: 1000px;
	padding: 40px 20px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
} */
