@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');

body{
    margin:0;
}

.container-header, .container-main, .container-mainPokedex, .container-footer{
    padding: 1em 2em;
}

.container-main, .container-mainPokedex, .container-footer {
    float: left;
    box-sizing: border-box;
}

/* Estilo del header */

.container-header{
display: flex;
width: 100%;
position: relative;
background-color: #F5DB13;
box-shadow: 0px 4px 4px rgba(121, 83, 83, 0.25);
justify-content: space-between;
}

.nav-bar{
display: flex;
justify-content: space-around;
}

/* Estilos de la sección home */

.btnHeader{
border: transparent;
background-color:#F5DB13;
font-family: 'Revalia';
font-size: 29px;
}

.btnHeader:hover {
cursor: pointer;
transform: scale(1.015);
}

.container-main{
display: flex;
justify-content: center;
background-color: #fff;
}

.container-mainPokedex{
display: flex;
justify-content: center;
background-color: #fff;
}

.container-home{
display: flex;
position: relative;
width: 100%;
height: auto;
background: #F2B807;
justify-content: space-around;
}

.container-welcome{
display: flex;
width: 60%;
height: auto;
background: #F28F16;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.imgPikachu{
display: flex;
position: relative;
width:40%;
height:auto;
}



p{
display: flex;
font-family: 'Revalia';
font-size: 85px;
margin: 20px;
padding: 10px;
text-align: center;
color:#FFF;}


/* Estilo de la sección Pokedex Delantera */
.cardFrontPokemon {
display: flex;
flex-flow: row wrap;
justify-content: center;
}

.cardPokemon-front{
display: flex;
background: linear-gradient(180deg, #70A83B 0%, rgba(112, 168, 59, 0.838912) 16.11%, rgba(112, 168, 59, 0) 100%);
border-radius: 25px;
width: 370px;
height: 478px;
position: relative;
font-family: 'Ropa Sans', sans-serif;
margin: 20px;
}

.namePokemon{
position: absolute;
width: 318px;
height: 41px;
left: 20px;
top: 20px;
text-transform: uppercase;
font-size:40px;
}

.numPokemon{
position: absolute;
left: 250px;
top: 20px;
font-size:40px;
}

.imgPokemon{
position: absolute;
width: 350px;
height: 306px;
top:75px;
}

.typePokemon {
position: relative;
align-content: center;
text-transform: uppercase;
background: #a299a3;
padding: 5px;
border-radius: 5px;
color: #fff;
top: 370px;
left: 70px;
font-size:30px;
height: 50px;
}

.messageCalcular{
    background: #F2B807;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Revalia';
    font-size: 28px;
    text-align:center;
    justify-content: center;
    height: auto;
}

.container-footer{
    background: #F2B807;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: 'Revalia';
    font-size: 10px;
    text-align:center;
    height: 25px;
}

/*** Prueba de diseño de CSS CardPokemon******/

/*.cardsPokemon{
display: flex;
width: 370px;
height: 478px;
position: relative;
transition: .3s ease all;
transform: rotateY(0deg);
transform-style: preserve-3d;
cursor: pointer;
z-index: 1;
}

.cardsPokemon.active {
transform: rotateY(180deg);
}*/
